<!doctype html>
<html lang="en">
<head>
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
<%- include ("./headerscript.html") -%>
</head>
<body>
    <input type="hidden" id="boardID" value="<%=info.boardID %>"/>

    

    <div class="card-body">
        <div style="display: flex; width: 100%;">
            <div style="width: 10%;padding-top: 5px;">
                Milestone Stage
            </div>
            <div style="width: 90%;">
                <select  class="form-control select2" style="width: 100%;" id="cmbGroup"></select>
            </div>
        </div>
        <div style="height: 10px;"></div>
        <div style="display: flex; width: 100%;">
            <div style="width: 10%;padding-top: 5px;">
                Homework
            </div>
            <div style="width: 90%;">
                <select  class="form-control select2" style="width: 100%;" id="cmbHomeworks"></select>
            </div>
        </div>
        <div style="height: 10px;"></div>
        <div style="display: flex; width: 100%;">
            <div style="width: 10%;padding-top: 5px;">
                Status
            </div>
            <div style="width: 90%;">
                <select  class="form-control select2" style="width: 100%;" id="cmbHomeworkStatuses"></select>
            </div>
        </div>
        
        

        <div style="padding-top: 30px">
            <table id="tblInfo" style="border: solid 1px #ccc; width: 20%; table-layout: fixed;">
                <tr>
                    <td style="background-color: #39DD4E; border: solid 1px #ccc; text-align:center"></td>
                    <td style="border: solid 1px #ccc; text-align:center">Submitted</td>
                </tr>
                <tr>
                    <td style="background-color: #FFC072; border: solid 1px #ccc;text-align:center"></td>
                    <td style="border: solid 1px #ccc; text-align:center">Late Submit</td>
                </tr>
                <tr>
                    <td style="background-color: #E2445C; border: solid 1px #ccc;text-align:center"></td>
                    <td style="border: solid 1px #ccc; text-align:center">Not Submitted</td>
                </tr>
            </table>
        </div>

        <div style="padding-top: 30px">
            <table id="tblStudent" style="border: solid 1px #ccc; width: 100%; table-layout: fixed; border-radius:0px"></table>
        </div>

    </div>

<%- include ("./footer.html") -%>
</body>

<script>

    var HOMEWORKS = [];
    var STUDENTS = [];
    var HOMEWORKSTATUSES = [];
    var BASEURL = "<%=info.APIBASEURL %>";

    $(document).ready(function(){

        getAndDisplayHomeworkStatuses(function(statuses){
            displayHomeworkStatusesLegend(statuses);
        });

        
        

        $("#cmbGroup").on("change", function( ){
            getAndDisplayCmbHomeworks(displayTable);
            //displayTable();
        })

        $("#cmbHomeworks").on("change", function( ){
           
            displayTable();
        })

        $("#cmbHomeworkStatuses").on("change", function( ){
            
            displayTable();
        })

        console.log(BASEURL + "/report/groups/by-board/" + $("#boardID").val())
        $.get(BASEURL + "/report/groups/by-board/" + $("#boardID").val(), function(response){
            console.log(response);
            displayGroups(response.payload);
            
            $("#cmbGroup").trigger("change");
        });
    })

    function getAndDisplayHomeworkStatuses(callback)
    {
        getHomeworkStatuses(function(statuses){
            displayHomeworkStatuses(statuses);
            if(callback != null)
                callback(statuses);
        })
    }

    function getHomeworkStatuses(callback)
    {
        $.get(BASEURL + "/report/homeworkstatuses", function(response){
            console.log(response);
            HOMEWORKSTATUSES = response.payload;
            if(callback != null)
                callback(response.payload)
        });
    }

    function displayHomeworkStatuses(statuses)
    {
        $("#cmbHomeworkStatuses").html("");

        var opt = document.createElement("option");
        opt.value = "*";
        $(opt).html("All");
        $("#cmbHomeworkStatuses").append(opt);

        statuses.forEach((item)=>{
            var opt = document.createElement("option");
            opt.value = item.homeworkStatus;
            $(opt).html(item.homeworkStatus);
            $("#cmbHomeworkStatuses").append(opt);
        })
    }   

    function displayHomeworkStatusesLegend(statuses)
    {
        $("#tblInfo").html("");
        statuses.forEach((item)=>{
            var tr = document.createElement("tr");
            var td = document.createElement("td");
            $(td).attr("style", "background-color: " + item.color + "; border: solid 1px #ccc; text-align:center")
            $(tr).append(td);

            td = document.createElement("td");
            $(td).attr("style", "border: solid 1px #ccc; text-align:center")
            $(td).html(item.homeworkStatus)
            $(tr).append(td);

            $("#tblInfo").append(tr);
        })
    }

    function displayGroups(groups)
    {
        $("#cmbGroup").html("");
        groups.forEach(function( item){
            var opt = document.createElement("option");
            opt.value = item.id;
            $(opt).html(item.name);
            $("#cmbGroup").append(opt);

        });
    }

    function displayCmbHomeworks(homeworks)
    {
        $("#cmbHomeworks").html("");

        var opt = document.createElement("option");
        opt.value = "*";
        $(opt).html("All");
        $("#cmbHomeworks").append(opt);

        homeworks.forEach((item)=>{
            var opt = document.createElement("option");
            opt.value = item.id;
            $(opt).html(item.homeworkTitle);
            $("#cmbHomeworks").append(opt);
        })
    }

    function displayTable()
    {
        $("#tblStudent").html("");
        getHomeworks(function(response){
            HOMEWORKS = response.payload;
            console.log("HOMEWORKS");
            console.log(HOMEWORKS);
            //displayCmbHomeworks(HOMEWORKS); 
            getStudents(function(response){
                STUDENTS = response.payload;
                
                displayTableHeader();
                displayTableRows();
                populateTable();
            })
        })
    }

    function getAndDisplayCmbHomeworks(callback)
    {
        getHomeworksForCombo(function(response){
            displayCmbHomeworks(response.payload);
            if(callback != null)
                callback();
        })
    }

    function populateTable()
    {
        getHomeworkStudents(function(response){
            let homeworkstudents = response.payload;
            homeworkstudents.forEach(function(item){
                let id = "td_" + item.homeworkId + "_" + item.studentId;
                let dueDate = $("#td_homework_" + item.homeworkId).attr("duedate");
                let submittedDate = item.submittedDate;
               
                //if(submittedDate != null)
                //    $("#" + id).html(moment(submittedDate).format("MMM DD, YYYY"));

                //dueDate = new Date(JSON.parse(dueDate).text);
                submittedDate = new Date(submittedDate);


                console.log("item.homeworkStatus");
                console.log(item.homeworkStatus);

                console.log(submittedDate + " - " + dueDate)

                let bgColor = "#fff";
                HOMEWORKSTATUSES.forEach((hmitem)=>
                {
                    console.log(hmitem.homeworkStatus + "===" + item.homeworkStatus)
                    if(item.homeworkStatus != null && hmitem.homeworkStatus.replace(/ /g, '').toLowerCase() == item.homeworkStatus.replace(/ /g, '').toLowerCase())
                    {
                        bgColor = hmitem.color;
                        console.log(bgColor)
                    }
                })

                $("#" + id).attr("style", "background-color: " + bgColor + "; border: solid 1px #ccc; color: #fff")

                /*
                //Green
                if(item.homeworkStatus != null && item.homeworkStatus.toLowerCase() == "done" && submittedDate <= dueDate)
                {
                    $("#" + id).attr("style", "background-color: #39DD4E; border: solid 1px #ccc; color: #fff")
                }

                //Yellow
                if(item.homeworkStatus != null && item.homeworkStatus.toLowerCase() == "done" && submittedDate > dueDate)
                {
                    $("#" + id).attr("style", "background-color: #FFC072; border: solid 1px #ccc; color: #fff")
                }

                //Red
                if(item.homeworkStatus == null || item.homeworkStatus.toLowerCase() != "done" )
                {
                    $("#" + id).attr("style", "background-color: #E2445C; border: solid 1px #ccc; color: #fff")
                }

                */

            });
        })       
    }

    function displayTableHeader()
    {
        
        var row = document.createElement("tr");
        var td = document.createElement("td");
            $(td).attr("style", "border: solid 1px #eee; padding: 10px; background-color: #ccc; font-weight: bold")
            $(td).html("Name"  );
            $(row).append(td);

        console.log(HOMEWORKS);
        HOMEWORKS.forEach(function(item){
            var td = document.createElement("td");
            $(td).attr("style", "border: solid 1px #eee; padding: 10px; text-align: center; background-color: #ccc; font-weight: bold")
            $(td).html(item.homeworkTitle   );
            $(td).attr("id", "td_homework_" + item.id);
            $(td).attr("duedate", item.homeworkDueDate);
            $(row).append(td);
        });

        $("#tblStudent").append(row);
    }

    function displayTableRows()
    {
        STUDENTS.forEach(function(student){
            var row = document.createElement("tr");
            var td = document.createElement("td");
            $(td).attr("style", "border: solid 1px #ccc; padding: 10px;")
            $(td).html( student.studentName );
            $(row).append(td);         
            HOMEWORKS.forEach(function(homework){
                var td = document.createElement("td");
                $(td).attr("style", "border: solid 1px #ccc; padding: 10px; text-align: center")
                $(td).attr("id", "td_" + homework.id + "_" + student.id )
                $(td).html(""  );
                $(row).append(td);
            });  

            $("#tblStudent").append(row);
        })


        
    }

    function getHomeworksForCombo(callback)
    {
        var url = BASEURL + "/report/homeworks/by-board-and-group/" + $("#boardID").val() + "/" + $("#cmbGroup").val();
        console.log("getHomeworksForCombo")
        console.log(url);
        $.get(url, function(response){
            console.log(response);
            if(callback != null)
                callback(response);
        });
    }

    function getHomeworks(callback)
    {
        var url = BASEURL + "/report/homeworks/by-board-group-homework-status/" + $("#boardID").val() + "/" + $("#cmbGroup").val() + "/" + $("#cmbHomeworks").val() + "/" + $("#cmbHomeworkStatuses").val();
        console.log("getHomeworks")
        console.log(url);
        $.get(url, function(response){
            console.log(response);
            if(callback != null)
                callback(response);
        });
    }

    function getHomeworkStudents(callback)
    {
        $.get(BASEURL + "/report/homeworkstudents/by-board-and-group/" + $("#boardID").val() + "/" + $("#cmbGroup").val() , function(response){
            console.log(response);
            if(callback != null)
                callback(response);
        });
    }

    function displayHomeworks()
    {
        
    }

    function getStudents(callback)
    {
        var url = BASEURL + "/report/students/by-board-group-homework-status/" + $("#boardID").val() + "/" + $("#cmbGroup").val() + "/" + $("#cmbHomeworks").val() + "/" + $("#cmbHomeworkStatuses").val();
        console.log('getStudents')
        console.log(url)
        $.get(url, function(response){
            console.log(response);
            if(callback != null)
                callback(response);
        });
    }

    function displayStudents()
    {

    }


</script>
</html>


